.main {
  height: 140vh;
  display: flex;
  padding: 0 4rem;
  width: 100%;
}

@media screen and (max-width: 1385px) {
  .content {
    padding: 2rem;
  }
}

@media screen and (max-width: 1024px) {
  .main {
    flex-direction: column-reverse;
    padding: 0;
    justify-content: flex-end;
    align-items: center;
  }
}
